// $BASE_FONT: 'circular-air-pro-book';
// $BASE_FONT_MEDIUM: 'circular-air-pro-book';
// $BASE_FONT_BOLD: 'circular-air-pro-book';

// Colours
$C_GREEN:rgb(5, 97, 5);
$C_GREEN_NOTICE:#8dd38d;
$C_GREEN_BORDER:#6fad6f;

$C_RED:rgb(71, 15, 15);
$C_RED_ALERT:rgb(181, 50, 35);
$C_RED_BORDER:rgb(111, 173, 111);

// $C_PURPLE:#9D7FD7;
